# Editors
# .vscode
*.swp
*.swo

# Generated ouput
/target
/dist
/jco.sh
*.tsbuildinfo
dist/

# Typescript
/src/**/*.d.ts
/src/**/*.d.ts.map

# Docs
/docs/book

# Package management
node_modules
**/*/package-lock.json
pnpm-lock.yaml

# Test output
crates/jco/tests/rundir
crates/jco/tests/output
crates/jco/tests/gen
test/fixtures/modules/hello_stdout.component.wasm

# Jco
packages/jco/obj
packages/jco/test/output

# Pre-compiled output used by subprojects
#
# While the vendor folder should be present, no contents should be checked in
packages/jco-transpile/vendor/*
