# Editors
.vscode
*.swp
*.swo

# Generated ouput
/target
/dist
/jco.sh
crates/jco-tests/tests/generated/*
crates/jco-tests/tests/mod.rs

# Typescript
/src/**/*.d.ts
/src/**/*.d.ts.map

# Docs
/docs/book

# Package management
node_modules
**/*/package-lock.json
package-lock.yaml

# Test output
crates/jco-tests/tests/rundir
crates/jco-tests/tests/output
crates/jco-tests/tests/generated

# Jco
packages/jco/obj
packages/jco/dist
packages/jco/test/output

# Pre-compiled output used by subprojects
#
# While the vendor folder should be present, no contents should be checked in
packages/jco-transpile/vendor/*

# Pre-release artifacts placed by github
gh-artifacts
/crates/test-components/target/
/test/components/rust/target/
/packages/jco-transpile/test/output/
packages/jco/test/.express-*
