# Editors
.vscode
*.swp
*.swo

# Generated ouput
/target
/obj
/dist
/jco.sh

# Typescript
/src/**/*.d.ts
/src/**/*.d.ts.map

# Docs
/docs/book

# Package management
node_modules
package-lock.json
pnpm-lock.yaml

# Test output
/tests/rundir
/tests/output
/tests/gen
/test/output
test/fixtures/modules/hello_stdout.component.wasm
