[package]
name = "jco"
version.workspace = true
edition.workspace = true
publish = false

[[bin]]
name = "dummy"
path = "bin/dummy.rs"

[workspace]
members = [
    "crates/js-component-bindgen",
    "crates/js-component-bindgen-component",
    "crates/wasm-tools-component",
    "xtask",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.11.0"

[workspace.dependencies]
anyhow = "1.0.75"
base64 = "0.21.4"
heck =  { version = "0.4", features = ["unicode"] }
indexmap = "2.0"
js-component-bindgen = { path = "./crates/js-component-bindgen" }
structopt = "0.3.25"
wasm-encoder = "0.35.0"
wasm-metadata = "0.10.9"
wasmparser = "0.115.0"
wasmprinter = "0.2.70"
wasmtime-environ = { git = "https://github.com/bytecodealliance/wasmtime", features = ["component-model"] }
wat = "1.0.77"
wit-bindgen = { git = "https://github.com/bytecodealliance/wit-bindgen", rev = "2405a79c74c5d61b9bc88c378d475c6c21ed6a9f" }
wit-bindgen-core = { git = "https://github.com/bytecodealliance/wit-bindgen", rev = "2405a79c74c5d61b9bc88c378d475c6c21ed6a9f" }
wit-component = { version = "0.15.0", features = ["dummy-module"] }
wit-parser = "0.12.0"
