[package]
name = "jco"
version = { workspace = true }
edition = { workspace = true }
publish = false

[[bin]]
name = "dummy"
path = "bin/dummy.rs"

[workspace]
members = [
    "crates/js-component-bindgen",
    "crates/js-component-bindgen-component",
    "crates/wasm-tools-component",
    "xtask",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "1.2.4"

[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = 'z'
overflow-checks = false
panic = 'abort'
rpath = false
strip = true

[workspace.dependencies]
anyhow = "1.0.86"
base64 = "0.22.1"
heck =  "0.5.0"
js-component-bindgen = { path = "./crates/js-component-bindgen" }
structopt = "0.3.26"
wasm-encoder = "0.209.1"
wasm-metadata = "0.209.1"
wasmparser = "0.209.1"
wasmprinter = "0.209.1"
wasmtime-environ = { version = "22.0.0", features = ["component-model", "compile"] }
wat = "1.209.1"
wit-bindgen = "0.26.0"
wit-bindgen-core = "0.26.0"
wit-component = { version = "0.209.1", features = ["dummy-module"] }
wit-parser = "0.209.1"
xshell = "0.2.6"

[dev-dependencies]
anyhow = { workspace = true }
xshell = { workspace = true }
