[workspace]
members = [
    "crates/js-component-bindgen",
    "crates/js-component-bindgen-component",
    "crates/wasm-tools-component",
    "xtask",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.11.0"

[workspace.dependencies]
anyhow = "1.0.75"
base64 = "0.21.4"
heck =  { version = "0.4", features = ["unicode"] }
indexmap = "2.0"
js-component-bindgen = { path = "./crates/js-component-bindgen" }
structopt = "0.3.25"
wasm-encoder = "0.33.1"
wasm-metadata = "0.10.5"
wasmparser = "0.113.1"
wasmprinter = "0.2.66"
wasmtime-environ = { git = "https://github.com/bytecodealliance/wasmtime", features = ["component-model"] }
wat = "1.0.73"
wit-bindgen = "0.12.0"
wit-bindgen-core = "0.12.0"
wit-component = { version = "0.14.2", features = ["dummy-module"] }
wit-parser = "0.11.1"
