[package]
name = "jco"
version = { workspace = true }
edition = { workspace = true }
publish = false

[[bin]]
name = "dummy"
path = "bin/dummy.rs"

[workspace]
members = [
    "crates/js-component-bindgen",
    "crates/js-component-bindgen-component",
    "crates/wasm-tools-component",
    "xtask",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "1.9.1"

[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = 'z'
overflow-checks = false
panic = 'abort'
rpath = false
strip = true

[workspace.dependencies]
anyhow = "1.0.95"
base64 = "0.22.1"
heck = "0.5.0"
log = "0.4.22"
semver = "1.0.25"
js-component-bindgen = { path = "./crates/js-component-bindgen" }
structopt = "0.3.26"
wasm-encoder = "0.220.0"
wasm-metadata = "0.220.0"
wasmparser = "0.220.0"
wasmprinter = "0.220.0"
wasmtime-environ = { version = "29.0.0", features = [
    "component-model",
    "compile",
] }
wat = "1.220.0"
wit-bindgen = "0.36.0"
wit-bindgen-core = "0.36.0"
wit-component = { version = "0.220.0", features = ["dummy-module"] }
wit-parser = "0.220.0"
xshell = "0.2.6"

[dev-dependencies]
anyhow = { workspace = true }
