[workspace]
resolver = "2"
members = [
  "crates/js-component-bindgen",
  "crates/js-component-bindgen-component",
  "crates/wasm-tools-component",
  "crates/xtask",
  "crates/jco",
]

[workspace.package]
edition = "2024"
version = "1.10.0"

[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = 'z'
overflow-checks = false
panic = 'abort'
rpath = false
strip = true

[workspace.dependencies]
anyhow = { version = "1.0.95", default-features = false }
base64 = { version = "0.22.1", default-features = false }
heck = { version = "0.5.0", default-features = false }
log = { version = "0.4.22", default-features = false }
semver = { version = "1.0.25", default-features = false }
structopt = { version = "0.3.26", default-features = false }
webidl2wit = { version = "0.1.0", default-features = false }
xshell = { version = "0.2.6", default-features = false }

wasm-encoder = { version = "0.240.0", default-features = false }
wasm-metadata = { version = "0.240.0", default-features = false }
wasmparser = { version = "0.240.0", default-features = false }
wasmprinter = { version = "0.240.0", default-features = false }
wasmtime-environ = { version = "37.0.1", features= [ "component-model", "compile" ] }
wat = { version = "1.240.0", default-features = false }

#wit-bindgen = { git = "https://github.com/bytecodealliance/wit-bindgen", rev = "799fdb6838b319f98b8d6472cb52f9301218791b", default-features = false }
#wit-bindgen-core = { git = "https://github.com/bytecodealliance/wit-bindgen", rev = "799fdb6838b319f98b8d6472cb52f9301218791b", default-features = false }

wit-bindgen = { path = "../wit-bindgen/crates/guest-rust", default-features = false }
wit-bindgen-core = { path = "../wit-bindgen/crates/core", default-features = false }

wit-component = { version = "0.240.0", features = ["dummy-module"] }
wit-parser = { version = "0.240.0", default-features = false }

js-component-bindgen = { version = "1.13.0", path = "./crates/js-component-bindgen" }
