[package]
name = "jco"
version = { workspace = true }
edition = { workspace = true }
publish = false

[[bin]]
name = "dummy"
path = "bin/dummy.rs"

[workspace]
members = [
    "crates/js-component-bindgen",
    "crates/js-component-bindgen-component",
    "crates/wasm-tools-component",
    "crates/test-utils",
    "xtask",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.14.0"

[workspace.dependencies]
anyhow = "1.0.75"
base64 = "0.21.5"
heck =  { version = "0.4", features = ["unicode"] }
indexmap = "2.0"
js-component-bindgen = { path = "./crates/js-component-bindgen" }
structopt = "0.3.26"
tempdir = "0.3.7"
wasm-encoder = "0.38.1"
wasm-metadata = "0.10.14"
wasmparser = "0.118.1"
wasmprinter = "0.2.75"
wasmtime-environ = { version = "15.0.0", features = ["component-model"] }
wat = "1.0.82"
wit-bindgen = "0.15.0"
wit-bindgen-core = "0.15.0"
wit-component = { version = "0.19.0", features = ["dummy-module"] }
wit-parser = "0.13.0"
xshell = "0.2.5"

[dev-dependencies]
anyhow = { workspace = true }
tempdir = { workspace = true }
xshell = { workspace = true }
test-utils = { path = "./crates/test-utils" }
